@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    font-family: 'Kanit', sans-serif;

}

nav {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(250, 193, 70);
    display: flex;
    justify-content: flex-end;
    position: fixed;
}

nav a {
    margin: 15px;
    padding: 15px;
    left: 0;
    font-size: larger;
    text-decoration: none;
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h2 {
    font-size: 100px;
    margin: 0;
}

main p {
    font-size: 50px;
}

@media (max-width:650px) {
    main h2 {
        font-size: 50px;
    }
    
    main p {
        font-size: 25px;
    }
}
#work {
    background-color:#138086;
    align-items: center;
    text-align:justify;
    padding: 10rem 2rem;
}

.work-section-header{
    text-align: center;
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom:2px solid white;
    font-size: 38px;
}

.projects-grid{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
grid-gap: 4rem;
width: 100%;
max-width: 1280px;
margin: 0 auto;
margin-bottom: 6rem;
}

@media (max-width:460px){
    .projects-section{
        padding: 6rem 1rem;
    }
    .projects-grid{
        grid-template-columns:1fr;
    }
}



.code{
    color: black;
    transition: color 0.3s ease-out;
}
.project:hover .code{
    color: orange;
}

.project-image{
    height: calc(100% - 3.8rem);
    width: 100%;
    object-fit: cover;
}

.project-title{
    font-size: 18px;
text-align: center;    margin: 5px;
    background-color: rgb(250, 193, 70);
    text-decoration: none;
    color: white;
}




#contact {
    width: 100%;
    height: 100vh;
    background-color: gray;
}

.contact-social {
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact a {
    font-size: 24px;
}



@media (max-width:650px) {
   
    #contact a {
    font-size: 12px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgb(250, 193, 70);
    height: 100px;
}

footer p {
    margin: 0;
    font-size: large;
    color: gray;
}
 @media (max-width:700px){
    footer {
     flex-wrap: wrap;
    }
    
    footer p {
    font-size: small;
    max-width: 400px;
text-align: center;
    }
 }